.slideshow {
  position: relative;
  overflow: hidden;
}
.images {
  background: url(f.cl.ly/items/0z3t1e3z3P0G3y3A1o1A/collage.jpg);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: slideshow 10s linear infinite;
  -moz-animation:    slideshow 10s linear infinite;
  z-index:100;
}
@-webkit-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}
@moz-keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}
#picture{ position : relative;
			max-height:20%;
		max-width:20%;
		}